body {
  padding-top: 4rem;
}

#logo {
  width: 2rem; 
  height: 2rem;
}

#bars-icon {
  width: 2rem;
  height: 2rem;
}

#nav {
  padding: 0 1rem;
  background-color: #4338ca;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  max-width: 90rem;
  margin: 0 auto;
}

#nav-info-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 100%;
}

#nav-links-container {  
  display: flex;
  gap: 1rem;
  align-items: center;
}

#title {
  font-weight: 500;
  font-size: 1.2rem;
}

#bars-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  border-radius: 0.375rem;
  background-color: white;
  color: #4338ca;
}

.nav-link {
  display: none;
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

#main-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 4rem);
  justify-content: center;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  gap: 1rem;
}

#main-title {
  color: #4338ca;
  font-size: 3rem;
}

#main-desc-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#desc-text {
  text-align: justify;
}

#desc-link {
  background-color: #4338ca;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2rem;
  border-radius: 0.375rem;
}

#desc-link:hover {
  background-color: #2d2586;
  transition: all 0.2s ease-in;
}

@media (min-width: 768px) {
  #bars-btn {
    display: none;
  }

  .nav-link {
    display: block;
  }

  #main-container {
    align-items: center;
    width: 70%;
  }

  #main-title {
    font-size: 4rem;
  }

  #desc-text {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {

  #main-container {
    flex-direction: row;
  }
  
  #main-title {
    font-size: 5rem;
  }

  #desc-text {
    font-size: 1.2rem;
  }
}